.background{
    background-color: var(--background-color);
    padding: 4em 1.8em;
    padding-bottom: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
    min-height: 100vh;
    transition: background-color 1s ease-in-out;

}

.dataSection{
    max-width: 550px;
    margin: auto;
}