@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

img{
  display: block;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

:root{
  /* Primary */

  --selected-text-blue:hsl(220, 98%, 61%);
  --gradient-background:linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));



  /* Weights */
  --weight-400:400;
  --weight-700:700;

  --background-color:white;
  --list-background:hsl(0, 0%, 98%);
  --list-text:hsl(235, 19%, 35%);
  --input-text:hsl(236, 9%, 61%);
  --crossed-text:hsl(233, 11%, 84%);
  --heading-text:hsl(0, 0%, 98%);
  --filter-active-color:hsl(235, 19%, 35%);



}

.dark{
  --background-color:hsl(235, 21%, 11%);
  --list-background:hsl(235, 24%, 19%);
  --input-text:hsl(235, 16%, 43%);
  --list-text:hsl(236, 9%, 61%);
  --crossed-text:hsl(237, 14%, 26%);
  --filter-active-color:hsl(236, 33%, 92%);

}

button:hover{
  cursor: pointer;
}
.d-flex{
  display: flex;
}

body{
  background-color: var(--gray-50);


}

