.heroParent{
    display: block;
    width: 100%;
    max-height: 295px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    
}

.heroImage{
    width: 100%;

    transition: opacity 1s ease-in-out;
  
}

.heroImage.dark{
    opacity: 0;
}